<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	{{>layout/script}}
	
</head>
<body>
	<h1>Index Page</h1>
	<a href="javascript:execute('/noticeListView', '{}');">게시판</a>
	<a href="javascript:execute('/noticeRegForm', '{}');">등록</a>
</body>
</html>