<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	{{>layout/script}}
</head>
<body>
	<h1>게시판 목록</h1>
	<script>
		
		function goDetail() {
		}
		
		function goReg() {
		}
		
		function goUpdate() {
		}
		
		function goPage() {
		}
		
		function goSearch() {
		}
		
	</script>
</body>
</html>